/*Intended for laptops (above tablets and below large desktop monitors/tv's)*/

@media only screen and (min-device-width : 768px) and (max-device-width : 992px) {

    #id_body{ }
    
        #id_effect{  }
    
            #id_effect_div1{ }
    
                #id_dynamic_svg{ }
            
            #id_effect_div2{ }
    
                #id_effect_svg1{ }
    
        #id_sitecontainer{ }
    
            #id_aboutus{ }
    
                #id_aboutus_table0{ }
    
                    #id_aboutus_table0_row0{ }
    
                        #id_aboutus_table0_row0col0{ }
    
                        #id_aboutus_table0_row0col1{ }    
    
                        #id_aboutus_table0_row0col2{ }
    
            #id_jumbotron{ }
    
                #id_jumbotron_table0{ }
    
                    #id_jumbotron_table0_row0{ }

                        #id_jumbotron_table0_row0_div{
                            max-width: 30%;
                        }
    
                    #id_jumbotron_table0_row1{ }
    
                    #id_jumbotron_table0_row2{ }
    
            #id_meettheteam{ }
    
                #id_meettheteam_table0{ }
    
                    #id_meettheteam_table0_row0{ }
      
                        #id_meettheteam_table0_row0col0{
                            max-width: 40%;
                        }

                            #id_meettheteam_table0_row0col0_img0{
                                max-width:100%;
                                height:auto;
                            }
    
                        #id_meettheteam_table0_row0col1{
                            max-width: 40%;
                        }

                            #id_meettheteam_table0_row0col1_img0{
                                max-width:100%;
                                height:auto;
                            }
    
                        #id_meettheteam_table0_row0col2{
                            max-width: 40%;
                        }

                            #id_meettheteam_table0_row0col2_img0{
                                max-width:100%;
                                height:auto;
                            }
    
                        #id_meettheteam_table0_row0col3{
                            max-width: 40%;
                        }

                            #id_meettheteam_table0_row0col3_img0{
                                max-width:100%;
                                height:auto;
                            }
    
            #id_quote{ }
    
                #id_quote_table0{ }
    
                    #id_quote_table0_row0{ }
    
                        #id_quote_table0_row0col0{ }
    
            #id_salespitch{ }
    
                #id_salespitch_table0{ }
    
                    #id_salespitch_table0_row0{ }
    
                        #id_salespitch_table0_row0col0{ }
    
                    #id_salespitch_table0_row1{ }
    
                        #id_salespitch_table0_row1col0{ }    
    
                    #id_salespitch_table0_row2{ }
    
                        #id_salespitch_table0_row2col0{ }
    
                        #id_salespitch_table0_row2col1{ }
    
                    #id_salespitch_table0_row3{ }
    
                        #id_salespitch_table0_row3col0{ }    
    
                        #id_salespitch_table0_row3col1{ }
    
                    #id_salespitch_table0_row4{ }
    
                        #id_salespitch_table0_row4col0{ }
    
                        #id_salespitch_table0_row4col1{ }
    
                    #id_salespitch_table0_row5{ }
    
                        #id_salespitch_table0_row5col0{ }
    
                    #id_salespitch_table0_row6{ }
    
                        #id_salespitch_table0_row6col0{ }
    
            #id_sitefooter{ }
    
                #id_sitefooter_table0{ }  
    
                    #id_sitefooter_table0_row0{ }
    
                        #id_sitefooter_table0_row0col0{ }
    
            #id_siteheader{ }
    
                #id_siteheader_table0{ }
    
                    #id_siteheader_table0_row0{ }
    
                        #id_siteheader_table0_row0col0{
                            font-size: 2.25vw;
                            padding-left: 5%;
                            width: 90%; 
                        }
    
                        #id_siteheader_table0_row0col1{ }
}