/* ____________________________________________________________________________ */
/*            Welcome to the Neurobi Company website's Style Sheet!             */
/* ____________________________________________________________________________ */
/*                                                                              */
/*        This content is organized alphabetically for ease of reference        */
/*        All scaling is done in percentages to make the site responsive        */
/*    The site has no left or right menu bars, making the layout row-dominant   */
/*            Indentation was added to help see inheritance chains              */
/*                    without needing to look at the HTML                       */
/* ____________________________________________________________________________ */


#id_body{
    background-attachment: fixed;
    background-image: linear-gradient(210deg,#7e77bb, #e68559);
    background-size: cover;
    display: block;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
    z-index: 1;
}

    #id_effect{
        bottom: 0;
        display: block;
        left: 0;
        opacity: 0.25;
        position: fixed; 
        pointer-events: all;
        right: 0;
        top: 0;
        z-index: -1;
    }

        #id_effect_div1{ }

            #id_dynamic_svg{
                height:100%; 
                width:100%;
            }
        
        #id_effect_div2{
            pointer-events: none;
        }

            #id_effect_svg1{ }

    #id_sitecontainer{
        display: block;
        font-family: 'Encode Sans Expanded', sans-serif;
        pointer-events: none;
        z-index: 2;
    }

        #id_aboutus{
            color: #ffffff;
            font-family: inherit;
        }

            #id_aboutus_table0{
                color: inherit;
                font-family: inherit;
            }

                #id_aboutus_table0_row0{
                    color: inherit;
                    font-family: inherit;
                    vertical-align: text-top;
                }

                    #id_aboutus_table0_row0col0{
                        color: inherit;
                        font-family: inherit;
                        vertical-align: inherit;
                    }

                    #id_aboutus_table0_row0col1{
                        color: inherit;
                        font-family: inherit;
                        vertical-align: inherit;
                    }    

                    #id_aboutus_table0_row0col2{
                        color: inherit;
                        font-family: inherit;
                        vertical-align: inherit;
                    }

        #id_jumbotron{
            display: block;
            font-family: inherit;
            pointer-events: none;
        }

            #id_jumbotron_table0{
                display: block;
                font-family: inherit;
                margin-left: auto;
                margin-right: auto;
                pointer-events: none;
                text-align: center;
            }

                #id_jumbotron_table0_row0{
                    display: block;
                    font-family: inherit;
                    max-width: 80%;
                    pointer-events: none;
                }

                #id_jumbotron_table0_row1{
                    color: #ffffff;
                    display: block;
                    font-family: inherit;
                    pointer-events: none;
                    text-align: center;
                }

                #id_jumbotron_table0_row2{
                    color: #ffffff;
                    display: block;
                    font-family: inherit;
                    pointer-events: none;
                    text-align: center;
                }

        #id_meettheteam{
            color: #ffffff;
            display: block;
            font-family: inherit;
            pointer-events: none;
            text-align: center;
        }

            #id_meettheteam_table0{
                color: #000000;
                display: block;
                font-family: inherit;
                pointer-events: none;
            }

                #id_meettheteam_table0_row0{
                    display: inline-block;
                    font-family: inherit;
                    pointer-events: none;
                }
  
                    #id_meettheteam_table0_row0col0{
                        background-color: #ffffff;
                        border-radius: 2em;
                        box-shadow: -5px 0px 5px rgba(124,124,124,0.5) inset;
                        display: inherit;
                        font-family: inherit;      
                        pointer-events: all;
                        text-align: center;
                        vertical-align: top;
                    }

                        #id_meettheteam_table0_row0col0_img0{ }
                    
                    #id_meettheteam_table0_row0col1{
                        background-color: #ffffff;
                        border-radius: 2em;
                        box-shadow: -5px 0px 5px rgba(124,124,124,0.5) inset;
                        display: inherit;
                        font-family: inherit;      
                        pointer-events: all;
                        text-align: center;
                        vertical-align: top;
                    }

                        #id_meettheteam_table0_row0col1_img0{ }

                    #id_meettheteam_table0_row0col2{
                        background-color: #ffffff;
                        box-shadow: -5px 0px 5px rgba(124,124,124,0.5) inset;
                        display: inherit;
                        font-family: inherit;      
                        pointer-events: all;
                        border-radius: 2em;
                        text-align: center;
                        vertical-align: top;
                    }

                        #id_meettheteam_table0_row0col2_img0{ }

                    #id_meettheteam_table0_row0col3{
                        background-color: #ffffff;
                        border-radius: 2em;
                        box-shadow: -5px 0px 5px rgba(124,124,124,0.5) inset;
                        display: inherit;
                        font-family: inherit;      
                        pointer-events: all;
                        text-align: center;
                        vertical-align: top;
                    }

                        #id_meettheteam_table0_row0col3_img0{ }

        #id_quote{
            font-family: inherit;
        }

            #id_quote_table0{
                background-image: url("../assets/images/nasa-53884-unsplash.jpg");
                background-size: cover;
                font-family: inherit;
            }

                #id_quote_table0_row0{
                    font-family: inherit;
                }

                    #id_quote_table0_row0col0{
                        color: #ffffff;
                        font-family: inherit;
                        text-align: center;
                    }

        #id_salespitch{
            background-color: #ffffff;
            font-family: inherit;
            text-align: center;
        }

            #id_salespitch_table0{
                background-color: #ffffff;
                font-family: inherit;
                text-align: center;
            }

                #id_salespitch_table0_row0{
                    font-family: inherit;
                }

                    #id_salespitch_table0_row0col0{
                        font-family: inherit;
                    }

                #id_salespitch_table0_row1{
                    background-color: inherit;
                    font-family: inherit;
                    text-align: inherit;
                }

                    #id_salespitch_table0_row1col0{
                        background-color: inherit;
                        font-family: inherit;
                        text-align: left;
                    }    

                #id_salespitch_table0_row2{
                    background-color: inherit;
                    font-family: inherit;
                }

                    #id_salespitch_table0_row2col0{
                        background-color: inherit;
                        font-family: inherit;
                    }

                    #id_salespitch_table0_row2col1{
                        background-color: inherit;
                        font-family: inherit;
                    }

                #id_salespitch_table0_row3{
                    background-color: inherit;
                    font-family: inherit;
                }

                    #id_salespitch_table0_row3col0{
                        background-color: inherit;
                        font-family: inherit;
                    }    

                    #id_salespitch_table0_row3col1{
                        background-color: inherit;
                        font-family: inherit;
                    }

                #id_salespitch_table0_row4{
                    background-color: inherit;
                    font-family: inherit;
                }

                    #id_salespitch_table0_row4col0{
                        background-color: inherit;
                        font-family: inherit;
                    }

                    #id_salespitch_table0_row4col1{
                        background-color: inherit;
                        font-family: inherit;
                    }

                #id_salespitch_table0_row5{
                    background-color: inherit;
                    font-family: inherit;       
                }

                    #id_salespitch_table0_row5col0{
                        background-color: inherit;
                        font-family: inherit;
                    }

                #id_salespitch_table0_row6{
                    background-color: inherit;
                    font-family: inherit;
                }

                    #id_salespitch_table0_row6col0{
                        background-color: inherit;
                        font-family: inherit;
                    }

        #id_sitefooter{
            font-family: inherit;
        }

            #id_sitefooter_table0{
                background-color: #3b3b3b;
                font-family: inherit;
            }  

                #id_sitefooter_table0_row0{
                    font-family: inherit;   
                }

                    #id_sitefooter_table0_row0col0{
                        color: #999999;
                        font-family: inherit;  
                        text-align: center;
                    }

        #id_siteheader{
            background-color: #ffffff;
            font-family: inherit;
        }

            #id_siteheader_table0{
                font-family: inherit;
            }

                #id_siteheader_table0_row0{
                    font-family: inherit;

                }

                    #id_siteheader_table0_row0col0{
                        font-family: inherit;
                        text-align: left;
                    }

                    #id_siteheader_table0_row0col1{
                        pointer-events: all;
                     }