/* ____________________________________________________________________________ */
/*            Welcome to the Neurobi Company website's Style Sheet!             */
/* ____________________________________________________________________________ */
/*                                                                              */
/*        This content is organized alphabetically for ease of reference        */
/*        All scaling is done in percentages to make the site responsive        */
/*    The site has no left or right menu bars, making the layout row-dominant   */
/*            Indentation was added to help see inheritance chains              */
/*                    without needing to look at the HTML                       */
/* ____________________________________________________________________________ */

#id_body{
    background-attachment: fixed;
    background-image: linear-gradient(210deg,#7e77bb, #e68559);
    background-size: cover;
    display: block;
    height: 100%;
    margin: 0%;
    padding: 0%;
    pointer-events: none;
    width: 100%; 
    z-index: 1;
}

    #id_effect{
        bottom: 0;
        display: block;
        left: 0;
        opacity: 0.25;
        position: fixed; 
        pointer-events: all;
        right: 0;
        top: 0;
        z-index: -1;
    }

        #id_effect_div1{ }

            #id_dynamic_svg{
                height:100%; 
                width:100%;
            }
        
        #id_effect_div2{
            pointer-events: none;
        }

            #id_effect_svg1{ }

    #id_sitecontainer{
        height: inherit;
        width: inherit; 
        z-index: 2;

        display: block;
        pointer-events: none;
        font-family: 'Encode Sans Expanded', sans-serif;
    }

        #id_aboutus{
            font-family: inherit;
            width: inherit; 

            color: #ffffff;
            height: auto;
        }

            #id_aboutus_table0{
                color: inherit;
                font-family: inherit;
                height: inherit;
                width: inherit; 
            }

                #id_aboutus_table0_row0{
                    color: inherit;
                    font-family: inherit;
                    vertical-align: text-top;
                }

                    #id_aboutus_table0_row0col0{
                        color: inherit;
                        font-family: inherit;
                        vertical-align: inherit;

                        padding-bottom: 5%;
                        padding-left: 2%;
                        padding-right: 2%;
                        padding-top: 5%;
                        width: 33%; 
                    }

                    #id_aboutus_table0_row0col1{
                        color: inherit;
                        font-family: inherit;
                        vertical-align: inherit;
    
                        padding-bottom: 5%;
                        padding-left: 2%;
                        padding-right: 2%;
                        padding-top: 5%;
                        width: 34%; 
                    }    

                    #id_aboutus_table0_row0col2{
                        color: inherit;
                        font-family: inherit;
                        vertical-align: inherit;

                        padding-bottom: 5%;
                        padding-left: 2%;
                        padding-right: 2%;
                        padding-top: 5%;
                        width: 33%;     
                    }

        #id_jumbotron{
            font-family: inherit;
            width: inherit; 

            display: block;
            height: auto;
            min-height: 100%;
            pointer-events: none;
        }

            #id_jumbotron_table0{
                font-family: inherit;
                width: inherit; 

                display: block;
                height: auto;
                pointer-events: none;
                text-align: center;
            }

                #id_jumbotron_table0_row0{
                    font-family: inherit;
                    width: inherit; 
    
                    display: block;
                    height: auto;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 60%;
                    padding: 3%;
                    pointer-events: none;
                }

                #id_jumbotron_table0_row1{
                    font-family: inherit;
                    width: inherit; 

                    color: #ffffff;
                    display: block;
                    font-size: 200%;
                    height: auto;
                    margin: 3%;
                    padding: 3%;
                    pointer-events: none;
                    text-align: center;
                }

                #id_jumbotron_table0_row2{
                    font-family: inherit;
                    width: inherit; 

                    color: #ffffff;
                    display: block;
                    height: auto;
                    margin: 3%;
                    padding: 3%;
                    pointer-events: none;
                    text-align: center;
                }

        #id_meettheteam{
            font-family: inherit;

            color: #ffffff;
            display: block;
            font-size: 140%;
            height: auto;
            margin: 2%;
            padding: 2%;
            pointer-events: none;
            width: auto; 
            text-align: center;
        }

            #id_meettheteam_table0{
                font-family: inherit;

                border-spacing: 40px;
                display: block;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                padding: 0%;
                pointer-events: none;
                width: auto; 
            }

                #id_meettheteam_table0_row0{
                    font-family: inherit;

                    display: block;
                    pointer-events: none;
                }
  
                    #id_meettheteam_table0_row0col0{
                        font-family: inherit;
      
                        background-color: #ffffff;
                        box-shadow: 0px -10px 80px rgba(0,0,0,0.2);
                        display: inline-block;
                        height: auto;
                        margin: 0%;
                        min-width: 2in;
                        padding-bottom: 5%;
                        padding-left: 2%;
                        padding-right: 2%;
                        padding-top: 5%;
                        pointer-events: all;
                        border-radius: 3%;
                        text-align: center;
                        vertical-align: top;
                        width: 20%; 
                    }

                    #id_meettheteam_table0_row0col1{
                        font-family: inherit;
      
                        background-color: #ffffff;
                        box-shadow: 0px -10px 80px rgba(0,0,0,0.2);
                        display: inline-block;
                        height: auto;
                        margin: 0%;
                        min-width: 2in;
                        padding-bottom: 5%;
                        padding-left: 2%;
                        padding-right: 2%;
                        padding-top: 5%;
                        pointer-events: all;
                        border-radius: 3%;
                        text-align: center;
                        vertical-align: top;
                        width: 20%; 
                    }

                    #id_meettheteam_table0_row0col2{
                        font-family: inherit;
      
                        background-color: #ffffff;
                        box-shadow: 0px -10px 80px rgba(0,0,0,0.2);
                        display: inline-block;
                        height: auto;
                        margin: 0%;
                        min-width: 2in;
                        padding-bottom: 5%;
                        padding-left: 2%;
                        padding-right: 2%;
                        padding-top: 5%;
                        pointer-events: all;
                        border-radius: 3%;
                        text-align: center;
                        vertical-align: top;
                        width: 20%; 
                    }

                    #id_meettheteam_table0_row0col3{
                        font-family: inherit;
      
                        background-color: #ffffff;
                        box-shadow: 0px -10px 80px rgba(0,0,0,0.2);
                        display: inline-block;
                        height: auto;
                        margin: 0%;
                        min-width: 2in;
                        padding-bottom: 5%;
                        padding-left: 2%;
                        padding-right: 2%;
                        padding-top: 5%;
                        pointer-events: all;
                        border-radius: 3%;
                        text-align: center;
                        vertical-align: top;
                        width: 20%; 
                    }

        #id_quote{
            font-family: inherit;
            width: inherit; 

            height: auto;
        }

            #id_quote_table0{
                font-family: inherit;
                width: inherit; 

                background-image: url("../assets/images/nasa-53884-unsplash.jpg");
                background-size: cover;
            }

                #id_quote_table0_row0{
                    font-family: inherit;
                    width: inherit; 
                }

                    #id_quote_table0_row0col0{
                        font-family: inherit;
                        width: inherit; 

                        color: #ffffff;
                        font-size: 120%;
                        letter-spacing: 1px;
                        padding: 15%;
                        text-align: center;
                    }

        #id_salespitch{
            font-family: inherit;

            background-color: #ffffff;
            height: auto;
            text-align: center;
            width: auto; 
        }

            #id_salespitch_table0{
                font-family: inherit;

                align-content: center;
                background-color: #ffffff;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                max-width: 10in;
                padding: 2%;
                text-align: center;
                width: auto; 
            }

                #id_salespitch_table0_row0{
                    font-family: inherit;
                }

                    #id_salespitch_table0_row0col0{
                        font-family: inherit;

                        font-size: 160%;
                        height: auto;
                        margin: 2%;
                        padding: 2%;
                        width: auto; 
                    }

                #id_salespitch_table0_row1{
                    background-color: inherit;
                    font-family: inherit;
                    text-align: inherit;
                }

                    #id_salespitch_table0_row1col0{
                        background-color: inherit;
                        font-family: inherit;

                        height: auto;
                        margin: 2%;
                        padding: 2%;
                        text-align: left;
                        width: auto; 
                    }    

                #id_salespitch_table0_row2{
                    background-color: inherit;
                    font-family: inherit;
                }

                    #id_salespitch_table0_row2col0{
                        background-color: inherit;
                        font-family: inherit;
     
                        height: auto;
                        margin: 2%;
                        padding: 2%;
                        width: auto; 
                    }

                    #id_salespitch_table0_row2col1{
                        background-color: inherit;
                        font-family: inherit;

                        height: auto;
                        margin: 2%;
                        padding: 2%;
                        width: auto; 
                    }

                #id_salespitch_table0_row3{
                    background-color: inherit;
                    font-family: inherit;
                }

                    #id_salespitch_table0_row3col0{
                        background-color: inherit;
                        font-family: inherit;

                        font-size: 150%;
                        height: auto;
                        margin: 2%;
                        padding: 2%;
                        width: auto; 
                    }    

                    #id_salespitch_table0_row3col1{
                        background-color: inherit;
                        font-family: inherit;

                        font-size: 150%;
                        height: auto;
                        margin: 2%;
                        padding: 2%;
                        width: auto; 
                    }

                #id_salespitch_table0_row4{
                    background-color: inherit;
                    font-family: inherit;
                }

                    #id_salespitch_table0_row4col0{
                        background-color: inherit;
                        font-family: inherit;
    
                        height: auto;
                        margin: 2%;
                        padding: 2%;
                        text-align: left;
                        width: auto; 
                    }

                    #id_salespitch_table0_row4col1{
                        background-color: inherit;
                        font-family: inherit;

                        height: auto;
                        margin: 2%;
                        padding: 2%;
                        text-align: left;
                        width: auto; 
                    }

                #id_salespitch_table0_row5{
                    background-color: inherit;
                    font-family: inherit;       
                }

                    #id_salespitch_table0_row5col0{
                        background-color: inherit;
                        font-family: inherit;

                        font-size: 140%;
                        height: auto;
                        margin: 2%;    
                        padding: 2%;
                        width: auto; 
                    }

                #id_salespitch_table0_row6{
                    background-color: inherit;
                    font-family: inherit;
                }

                    #id_salespitch_table0_row6col0{
                        background-color: inherit;
                        font-family: inherit;

                        font-size: 110%;
                        height: auto;
                        margin: 2%;
                        padding: 2%;
                        width: auto; 
                    }

        #id_sitefooter{
            font-family: inherit;
            width: inherit; 

            height: 5%;
        }

            #id_sitefooter_table0{
                font-family: inherit;
                width: inherit; 

                background-color: #3b3b3b;
                height: 100%;
            }  

                #id_sitefooter_table0_row0{
                    font-family: inherit;   
                }

                    #id_sitefooter_table0_row0col0{
                        font-family: inherit;  

                        color: #999999;
                        font-size: 80%;
                        text-align: center;
                        width: 34%; 
                    }

        #id_siteheader{
            font-family: inherit;
            width: inherit; 

            background-color: #ffffff;
            height: 10%;
        }

            #id_siteheader_table0{
                font-family: inherit;
                width: inherit; 

                height: 100%;
            }

                #id_siteheader_table0_row0{
                    font-family: inherit;

                }

                    #id_siteheader_table0_row0col0{
                        font-family: inherit;

                        font-size: 120%;
                        padding-left: 5%;
                        text-align: left;
                        width: auto; 
                    }
